
.Second {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;               /* Full width */
    padding: 20px;             /* Space around */
    margin-top: 0;             /* Remove any top spacing */
    border-radius: 10px;
    box-sizing: border-box;
}








/* Container for both checkbox and label */
/* ✅ Pushes text ans checkbox to the right */









