/* SEARCH CSS */


body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  height: 100vh;           /* full viewport height */
  background-image: url(..//Picture/searchBack.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.search {
  width: 320px;
  padding: 20px;
  border-radius: 8px;
  background: #f9faf5; /* Dark background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Search Input Box */
.search input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 12px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Search Button */
.search button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #4e6c90; /* Bootstrap blue My button */
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.search button:hover {
  background-color: #0056b3;
  font-weight: bold;
  transform: scale(1.02);
}

.search button:active {
  background-color: #004080;
  transform: scale(0.98);
}

