/* SENDER.NET CSS */


.shadow-box {
      padding: 2rem;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 4px 15px rgba(90, 88, 88, 0.1);
      margin: 2rem auto;
      max-width: 700px;
      border: 1px solid #53c032;
    }

body {
      background-color: #000; /* Just like your image */
    }
  