/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  CONTACT CSS  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/



.hero-contact {
  background: url(../../IMAGES/mainIMAGES/imgBANNER/SenderEmbedded.jpg) center center/cover no-repeat;
  background-size: cover;       /* Makes sure image covers entire section */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* No repeating */
  color: rgb(233, 71, 71);                 /* Make sure text is visible */
  padding: 100px 0;             /* Add vertical spacing */
}

.hero-contact h1{
  font-size: 4rem;
  color: rgb(10, 245, 186);
  font-weight: 900;
  font-weight: bold;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
}

.hero-contact .lead{
  text-align: center;
  font-size: 1.8rem;
  color: rgb(7, 7, 0);
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-size: auto; /* Ensures background image scales text properly */
  background-repeat: no-repeat; /* Prevents background image from repeating*/
  background-position: center; /* Centers the background image */
  background-color: rgba(196, 241, 239, 0.52);
  padding: 10px;
  border-radius: 7px;
}

h1 {
  font-size: 3rem;
  color: aliceblue;
  font-weight: 800;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.lead {
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.SecondForm {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  color: #a38383;
}

.hlpsup{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #4a2a2a;
}

/* ✅ BUTTON STARTS*/
.butpop{
    display: inline-block;
    padding: 9px 15px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    font-size: 24px;;
    cursor:pointer;
    transition: background-color 0.3s ease;
}

.butpop:hover {
    background-color: #c4f1ef;
    color: #fff;
}

.testcontact{ /* message hidden */
  font-size: 14px;
  color: #f9f9f9;
}
/* BUTTON ENDS*/