/* EMBEDDED.NET CSS */
.sendParent{
    display: flex;
    justify-content: center; /* align horizontaly*/
    align-items: center; /* align verticaly*/
    height: 20vh; /* full viewport for vertical centering*/
}
.sendChild{
    width: 60%;
    color: brown;
    text-align: center;
    font-weight: 600;
    font-size: large;
    border: 4px solid rgb(123, 201, 136);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(241, 238, 233);
    box-shadow: 0 0 0.2;
}

.sendChild2{
    width: 50%;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: large;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.retour{
    text-align: center;
    margin-top: 34px;
    background-color: #f4f4f4;
}

.Second{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 50%;
    height: 34vh;
    padding: 10px;
    border-radius: 10px
}

h2{
    text-align: center;
    padding-right: 10px;
}

p{
    text-align: center;
    font-size: large;
    font-weight: 700;
    font-size: 50px;
    color: rgb(165, 42, 42);
}


.senderinput{
    justify-content: center;
    margin-top: 7px;
    background-color: rgb(241, 245, 245);
}

.senderButton{
    border: 2px solid blue;
    border-radius: 7px;
    background-color: aquamarine;
}