
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f9f9f9;
  color: #333;
}

.hero{
  height: 100vh;
  background-color: #161401;
  background-image: url('/IMAGES/imgCONSTRUCTION/MessageSoon06.jpg'); 
  background-size: cover;
  background-position: center;
}


.display-4 {
    font-size: 6.8em;
    margin-bottom: 10px;
    color: #fbee7d;
    text-align: center; /* Ensure header text is readable */
}

.officer {
    font-size: 1.2em;
    color: #fbee7d;
    text-align: center; /* Ensure header text is readable */
}

.lead{
    font-size: 2.2em;
    font-weight: bold;
    color: #ac853f;
    text-align: center; /* Ensure lead text is readable */
}



.section {
    align-items: center; /* Center content in section */
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.section-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #003366;
}

.btn{
  font-weight: 500;
  background-color: #ac853f;
  color: #fbee7d;
  border: 1.5px solid #fbee7d;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.btn:hover {
  background-color: #fbee7d;
  color: #000;
  border: 1.5px solid #ac853f;
}


.btn-primary {
  font-weight: 500;
  margin-right: 15px;
  padding: 1%  10px;
  border-radius: 10px;
  background-color: #99b9f0;
  color: #333;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #f4f4f4;
  color: #000;
}


