/* coming-soon.css */

.hero-contact {
  height: 100vh;
  background: url(/IMAGES/imgCONSTRUCTION/Comingsoon03.jpg) center 80% / cover no-repeat;
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  color: white;
  padding: 10px 0 40px;
}


.content-soon {
  /* coming-soon page specific styles*/
  text-align: center; /* Center text */
  background-color: rgba(255, 255, 255, 0.01); /*  semi-transparent white */
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.comingsoon-container {
  height: 50vh;
  margin: 0; /* Reset margin */
  padding: 10px 20px; 
  background-image: url('/IMAGES/imgCONSTRUCTION/MessageSoon01.jpg');
  background-size: contain; /* Adjusted to cover the entire container */
  background-position: center;
  background-repeat: no-repeat;
}


h1 {
  font-size: 2.5rem;
  font-size: bold;
  color: #fa7e70; /* Red-orange */
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #333; /* Light gray for better readability */
}

.btn-home {
  background-color: #002f81;
  color: white;
  padding: 20px 10px 20px 10px;
  text-decoration: none;
  border-radius: 5px;
  border: 4px solid #679efc;
  font-weight: 500;
  transition: background-color 0.3s ease;
  box-shadow: rgba(228, 219, 219, 0.29) 0px 10px 25px;
}

.btn-home:hover {
  background-color: #ffdb20;
  color: #333;
  border: solid #c0392b;
  font-weight: bold;
}
