.hero-contact {
  height: 16vh;  
  padding: 100px 0;             /* Add vertical spacing */

}

/* Thanks.css */
.merci{
  background: url('/IMAGES/mainIMAGES/imgBANNER/ThankYou\ 02.jpg') center center/cover no-repeat;
  background-size: cover;       /* Makes sure image covers entire section */
  background-position: bottom;  /* Centers the image */
  background-repeat: no-repeat; /* No repeating */
  color: #fff;                /* Text color */
  padding: 100px 0;             /* Add vertical spacing */
}



.thank-you-container {
  background-color: rgba(1, 16, 19, 0.43); /* ✅ Makes background transparent */
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: center;
  height: 12vh;
  width: 420px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(32, 2, 2, 0.5);
  margin: 0 auto; /* Center the container horizontally */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  padding: 40px 20px;
  color : #ebe5c8; /* text brand blue */
  font-weight: 700;
  font-size: 25px;
}


.thank-you-container h1 {
  font-size: 2.7rem;
  color: #002f81; /* brand blue */
  margin-bottom: 20px;
}

.thank-you-container h2 {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.thank-you-container h3 {
  font-size: 1.90rem;
  margin-bottom: 20px;
}

.thank-you-container h4{
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.btn-back {
  background-color: #04255e;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 20px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

.btn-back:hover {
  background-color: #375ba5;
  color : #ebe5c8; 
}
